body {
  font-size: 14px;
  font-family: open_sansregular,open sans,Arial,Helvetica,sans-serif;
  width: 800px;
  border: solid black 1px;
}

.form-group {
  display:flex;
  flex-direction: column;
  width: fit-content;
  width: 100%;
  align-items: center;
}

.control-group {
  display:flex;
  align-items: center;
  margin: 2px 0px 20px 0px;
}

.flex-row-group {
  display:flex;
}

.flex-row-group2 {
  display:flex;
  align-items: center;
  margin: 2px 0px 20px 0px;
}


.flex-row-group3 {
  display:flex;
  align-items: center;
}

label {
  width: 110px;
  text-align: right;
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
}

input[type=text], input[type=number], input[type=date], select {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  width: 120px;
  padding: 4px 6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  background-color: #4c74af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#nomeCompleto, #nomeMae, #nomePai {
  width: 600px;
}

#cidadeNaturalidade {
  width: 272px;
}

#rua {
  width: 332px;
}

#labelDDD, #labelCidadeNaturalidade,#labelNumero, #labelBairro, #labelEstado, #labelCep, #labelEstadoNaturalidade, #labelTelefone {
  width: auto;
  margin-left: 10px;
}

#email {
  width: 401px;
}

#numero {
  width:55px;
}

#cidade {
  width: 332px;
}

#estadoNaturalidade, #estado {
  width: 60px;
}

#ddd {
  width: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#telefone {
  width: 85px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input[type=date] {
  width: 130px;
  height: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#omIncluido, #omExcluido {
  width: 110px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#destino {
  width: 130px;
}

#selectPostoGraduacao{
  width: 130px;
}

#postoGraduacao {
  width: 160px;
  margin-left: 10px;
}

#omIncluido, #omExcluido {
  width: 110px;
}